
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #111111;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.first{
    background-color: #303030;
   
}
/* ************ */
.display-flex{
    display: flex;
}
.huge{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}
/* ************* */

/****************banner start***************/
.fintes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    color: #E6533C;
    
}
.head{
    font-style: italic;
}
.menu-bar{
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px 15px 5px 1px;
   
}
 .menu-bar .home{
    background-color: #E6533C;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}
.menu-bar >li{
    list-style: none;
}
.menu-bar >li >a{
    text-decoration: none;
    color: #ffffff;
}

.get{
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;
}
.shape{
    font-style: italic;
}
.club{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #E6533C;
    border: none;
    color: #ffffff;
    margin-top: 30px;
}
.ghor{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: black;
    border: none;
    color: #ffffff;
    margin-top: 30px;
}
.banner{
    justify-content: space-around;
    margin-left: 70px;
}
.workout{
    border: 1px solid black;
    color: #ffffff;
    width: 160px;
    padding: 20px 25px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
   
}
.position{
    position: absolute;
    margin-left: 220px;
    margin-top: 50px;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    
}
.second{
    align-items: center;
    gap: 10px;
    margin-right: 300px;
    border: 2px solid white;
    padding: 3px 17px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: -100px;
    
}
.three-fifty{
    font-size: 24px;
    color: #ffffff;
}
/****************banner start***************/

.bg-1{
    background-color: #111111;
}
.change{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.believe{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}
.pictures{
    align-items: center;
}
.movement{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
}
.time{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 70px;
}
.practise{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
}
.lose{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 50px;
}
.span{
    margin-left: 20px;
}
.we{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
   
}
.pictures{
   justify-content: center;
   gap: 100px;
   margin-top: 40px;
   border-radius: 50%;
}
.image-item{
    border-radius: 50%;
}

/****************habit end***************/

/****************run and extra start***************/
.run-part{
    background-color: #222222;
    margin-bottom: 30px;
}
.extra{
    font-size: 40px;
    color: #ffffff;
}
.believe{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.should{
    margin-right: 50px;
}
.regardles{
  margin-right: 8px;
}
.hundred{
    margin-right: 162px;
}
.button{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #E6533C;
    padding: 12px 50px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}
.run-picture{
    max-width: 360px;
    max-height: 300px;
    border-radius: 12px;
    margin-top: 15px;
}
.full-item {
    justify-content: center;
    gap: 250px;
    margin-top: 40px;
}
.run-extra{
    margin-top: 30px;
}
.run-image{
    margin-top: 30px;
    
}
/****************run and extra end***************/

/************Trainings and Exercises start*******/
.exercise{
    color: #ffffff;
    font-size: 40px;
    margin-left: 255px;
}
.everyone{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-left: 255px;
    margin-bottom: 50px;
}
.image-one{
    width: 310px;
    height: 200px;
    margin-left: 260px;
}
.image-two{
    width: 450px;
    height: 200px;
    margin-right: 100px;
    position: absolute;
}

.image-three{
    width: 250px;
    height: 200px;
    position: absolute;
}

.image-four{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-left: 260px;
}
.image-five{
    width: 230px;
    height: 200px;
    position: absolute;
    margin-left: 220px;
}
.image-six{
    width: 250px;
    height: 200px;
    position: absolute;
    margin-right: 90px;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-right: 50px;
    margin-bottom: 300px;
}
/************Trainings and Exercises end*********/

/*************BMI Calculator start***************/
.tabel-section{
    background-color: rgba(34, 34, 34, 1);
    height: 480px;
}
.bmi{
    margin-left: 100px;
}
.status{
    color: white;
}
.below{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    color:rgba(255, 255, 255, 0.5) ;
    padding: 15px 10px;
}
table{
    border-collapse: collapse;
    margin-top: 40px;   
}
.tabel-section{
    justify-content:space-around;
}
.chart{
    font-size: 36px;
    color: #ffffff;
    margin-top: 35px;
}
.your-bmi{
    margin-left: 330px;
}
.gridian{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-left: 580px;
    gap: 20px;
    padding: 10px 5px;
}
.height{
    padding: 10px 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 7px;
    font-size: 16px;
}
.calculate-btn{
    margin-left: 585px;
   margin-top: 20px;
}
.calculate{
    font-size: 18px;
    background-color: #E6533C;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: #ffffff;
}
/*************BMI Calculator end***************/

/***************meet our team start**************/
.teamss{
    color: #ffffff;
    font-size: 40px;
}
.income{
    color: #ffffff;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.beb{
    text-align: center;
}
.pictures{
    
}
.trainer-one{
    width: 320px;
    height: 270px;
    border-radius: 12px;
}
.trainer-two{
    width: 320px;
    height: 270px;
    border-radius: 12px;
}
.trainer-three{
    width: 320px;
    height: 270px;
    border-radius: 12px;
   
}
.trainer-four{
    width: 320px;
    height: 270px;
    border-radius: 12px;
}
.trainer-five{
    width: 320px;
    height: 270px;
    border-radius: 12px;
}
.trainer-six{
    width: 320px;
    height: 270px;
    border-radius: 12px;
}
.picturess{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-left: 260px;
   gap: 20px;
   background-color: #222222;
   margin-top: 30px;
}
.bangladesh{
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}
.trainer{
    position: absolute;
    margin-top: 230px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5)f;
    margin-left: 20px;
}
.cameron{
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}
.wiliams{
    position: absolute;
    margin-top: 230px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
.darell{
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}
.steward{
    position: absolute;
    margin-top: 230px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
.dianee{
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}
.reseel{
    position: absolute;
    margin-top: 230px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
.cody{
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}
.fiser{
    position: absolute;
    margin-top: 230px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
.teresa{
    position: absolute;
    margin-top: 200px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
}
.webb{
    position: absolute;
    margin-top: 230px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
/***************meet our team end***************/

/***************footer part start***************/
.freebg{
    background-color: #222222;
    height: 320px;
}
.foot{
    justify-content: center;
    gap: 130px;
    margin-top: 40px;
}
.italic{
    font-size: 35px;
    font-weight: 700;
    color: #E6533C;
    font-style: italic;
   
}
.italic-pera{
    margin-top: 20px;
}
.pera{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.started{
    color: #ffffff;
    font-size: 30px;
}
.last-item{
    list-style: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.wood{
    margin-top: 10px;
}
.platform{
    margin-top: 10px;
}
.library{
    margin-top: 10px;
}
.app{
    margin-top: 10px;
}
.get-started{
    color: #ffffff;
    font-size: 30px;
}
.line{
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 0px;
    width: 1000px;
    color: #ffffff;
    margin-left: 250px;
    margin-top: 30px;
}
.right{
    margin-left: 40%;
    color: rgba(255, 255, 255, 0.5);
}


/***************footer part end***************/


/* responsive website********************/
@media screen and (max-width:576px) {
    .fintes{
        margin-left: 50px;
    }
    .get-body{
        margin-left: 50px;
    }
    .two-button{
        display: flex;
        width: 400px;
        gap: 40px;
        
    }
   .photo-part{
    grid-template-columns: repeat(1,1fr);
   }
   .first{
    grid-template-columns: repeat(1 , 1fr);
   }
    
}
